<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BankEazy-App</display-name>
	<welcome-file-list>
		<welcome-file>/BankEazy-App/static/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>com.controllers.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/pages/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.filters.StaticFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>customerFilter</filter-name>
		<filter-class>com.filters.CustomerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>customerFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>customerValidationFilter</filter-name>
		<filter-class>com.filters.ValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>customerValidationFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>com.filters.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>adminValidationFilter</filter-name>
		<filter-class>com.filters.ValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminValidationFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>employeeFilter</filter-name>
		<filter-class>com.filters.EmployeeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>employeeFilter</filter-name>
		<url-pattern>/employee/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>employeeValidationFilter</filter-name>
		<filter-class>com.filters.ValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>employeeValidationFilter</filter-name>
		<url-pattern>/employee/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>